.calendar-body {
    display: flex;
    margin: 10px;
}

.calendar-left {
    width: 50%;
    margin: 10px;
}

.calendar-left-top {
    display: table;
}

.calendar-year-month-left {
    display: table-cell;
    font-size: 24px;
}

.calendar-button {
    display: table-cell;
    height: 100%;
}
