<div class="calendar-body">
    <div class="calendar-left">
        <div class="calendar-left-top">
            <div class="calendar-year-month-left">{{year}}/{{month}}</div>
            <div class="calendar-button">
                <button mat-button color="primary" (click)="onClickLastMonth()"> ＜ </button>
                <button mat-button color="primary" (click)="onClickNextMonth()"> ＞ </button>
                <button mat-button color="primary" (click)="onClickToday()"> Today </button>
            </div>
        </div>
        <app-calendar-days-events></app-calendar-days-events>
    </div>
    <div class="calendar-right">
        <div class="calendar-year-month-right">{{nextYear}}/{{nextMonth}}</div>
        <app-calendar-days-events></app-calendar-days-events>
    </div>
</div>
