<div class="calendar-body">
    <div class="calendar-left">
        <div class="calendar-left-top">
            <button mat-button color="primary" class="calendar-button" (click)="onClickLastMonth()"> ＜ </button>
            <h1>{{year}}/{{month}}</h1>
            <button mat-button color="primary" class="calendar-button" (click)="onClickNextMonth()"> ＞ </button>
            <button mat-button color="primary" class="calendar-button" (click)="onClickToday()"> Today </button>
        </div>
        <app-calendar-days-events></app-calendar-days-events>
    </div>
    <div class="calendar-right">
        <h1>{{nextYear}}/{{nextMonth}}</h1>
        <app-calendar-days-events></app-calendar-days-events>
    </div>
</div>
